@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap);
@charset "UTF-8";
.header {
  margin: 0 auto;
  width: 210px;
  text-align: center;
  padding-bottom: 80px; }
  .header__logo {
    display: inline-block;
    height: 68px;
    width: 68px;
    background-size: 100%;
    background-image: url(static/images/logo--transparent.gif); }
  .header__links {
    display: flex;
    justify-content: center; }
  .header__link {
    margin-right: 10px; }
    .header__link:last-child {
      margin-right: 0; }

.footer {
  padding-top: 40px; }
  .footer__links {
    display: flex;
    justify-content: center; }
  .footer__link {
    margin-right: 10px;
    height: 30px; }
    .footer__link:last-child {
      margin-right: 0; }

.link:hover, .link:focus {
  color: #b8b8b8; }

.link.active {
  color: #878787; }

.slashed-header {
  font-size: 20px;
  color: #878787;
  font-weight: normal;
  margin: 0 0 40px 0; }
  .slashed-header:before {
    content: '/'; }

.about__photo {
  position: relative;
  width: 35%;
  float: left;
  margin-right: 100px;
  margin-bottom: 55px; }
  .about__photo:before {
    content: '';
    padding-top: 125%;
    display: block; }
  .about__photo img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%; }

.about__description {
  font-size: 18px; }

.about__software {
  line-height: 2em; }

.about__email {
  margin-top: -10px;
  font-size: 24px; }

.preview {
  position: relative;
  display: block;
  max-height: 400px;
  height: 400px; }
  .preview:before {
    content: '';
    padding-top: 56.25%; }
  .preview__wrapper {
    position: relative;
    height: 100%; }
  .preview__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .preview__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #3b6978; }
  .preview__name {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    opacity: 0; }
  .preview:hover .preview__overlay,
  .preview:focus .preview__overlay {
    opacity: 0.7; }
  .preview:hover .preview__name,
  .preview:focus .preview__name {
    opacity: 1; }

.preview-list {
  display: flex;
  flex-wrap: wrap;
  margin: -9px; }
  .preview-list > * {
    flex: 1 0 33%;
    padding: 9px; }
  .preview-list .preview-list__column--1 {
    flex-basis: 20%; }
  .preview-list .preview-list__column--2 {
    flex-basis: 25%; }
  .preview-list .preview-list__column--3 {
    flex-basis: 33.33333%; }
  .preview-list .preview-list__column--4 {
    flex-basis: 50%; }
  .preview-list .preview-list__column--5 {
    flex-basis: 100%; }
  .preview-list .preview-list__column--no-grow {
    flex-grow: 0; }

.icon {
  width: 100%; }

.project__header {
  margin: 40px 0;
  font-size: 20px;
  text-align: center; }

.project__images img {
  max-height: 400px;
  margin: 0 auto;
  display: block; }

.project__description {
  text-align: center; }

.project__more-pictures {
  margin: 40px 0;
  text-align: center;
  color: #878787; }

body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  color: #333333; }

a {
  color: inherit;
  text-decoration: none; }

* {
  box-sizing: border-box; }

.body-wrapper {
  padding: 40px; }

img {
  max-width: 100%; }

.content-column {
  margin: 0 auto;
  max-width: 710px; }

ul {
  list-style-type: none; }

.diamond-list > li:before {
  content: '♦';
  margin-right: 1em; }

.clearfix:before {
  content: "";
  display: table;
  clear: both; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -9px; }

.col {
  flex: 1;
  padding: 0 9px; }
  .col-1 {
    flex-basis: 20%; }
  .col-2 {
    flex-basis: 25%; }
  .col-3 {
    flex-basis: 33.33333%; }
  .col-4 {
    flex-basis: 50%; }
  .col-5 {
    flex-basis: 100%; }

.stretch-img {
  width: 100%; }

