$logo-size: 68px;
$footer-link-size: 30px;
$content-width: 710px;

$body-padding: 40px;
$logo-padding: 80px;
$footer-padding: 40px;

$brand-color: #3b6978;
$text-color: #333333;
$active-link-color: #878787;
$hover-link-color: #b8b8b8;

// about
$about-header-color: #878787;
$about-header-size: 20px;
$about-text-size: 18px;
