extends ../components/layout

block nav
  - var active = "/about.html"

block title
  title schteinmiller - about

block page
  .about
    .content-column
      h1.slashed-header about
        div
          .about__description
            .about__photo
              img(src="/images/portrait.png" alt="alex's photo")
            p hey there!
            p my name is Alex. I'm an young and aspiring 2d & 3d illustrator from Russia.
            p for collabs and commisions, send me an email at aschteinmiller@gmail.com.
            p let's make something cool!
            .clearfix
            ul.about__software.diamond-list
              | software:
              li blender
              li photoshop
              li illustrator
              li procreate
      h2.slashed-header(id="contacts") contacts
        p email: hardlifecore@gmail.com
