extends ../components/layout

include ../components/preview/preview
include ../components/preview-list/preview-list

block nav
  - var active = "/"

block page
  .main-page
    .preview-list
      +column(1)
        +preview(
          'roses',
          'projects/roses',
          require('~images/projects/rose/render11.png').default
        )
      +column(3)
        +preview(
          'microphone',
          'projects/microphone',
          require('~images/projects/microphone/microfonimg.png').default
        )
      +column(2)
        +preview(
          'ghostwave',
          'projects/ghostwave',
          require('~images/projects/ghostwave/ghostimg.png').default
        )
      +column(4, true)
        +preview(
          'kray',
          'projects/kray',
          require('~images/projects/kray/sea-road.png').default
        )
      +column(2, true)
        +preview(
          'water',
          'projects/water',
          require('~images/projects/water/1.jpg').default
        )