include ../link/link

mixin header(active)
  header.header
    a.header__home-link(href="/")
      .header__logo
      .header__name alex schteinmiller
      .header__career 2d & 3d illustration
    .header__links
      +link("/", active).header__link work
      +link("/about", active).header__link about
      +link("/about#contacts", active).header__link contacts
