include ../link/link

mixin header(active)
  header.header
    .header__logo
    .header__name alex schteinmiller
    .header__career
    .header__links
      +link("/", active).header__link work
      +link("/about.html", active).header__link about
      +link("/about.html#contacts", active).header__link contacts
