.about {
  &__photo {
    position: relative;
    width: 35%;
    float: left;
    margin-right: 20px;

    @media screen and (min-width: 320px) {
      margin-right: 40px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 100px;
    }

    &:before {
      content: '';
      padding-top: 125%;
      display: block;
    }
    
    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100%;
    }
  }

  &__description {
    margin-bottom: 80px;
  }

  &__software {
    line-height: 2em;
    padding-left: 0;
  }

  &__email {
    margin-top: -10px;
    font-size: 24px;
  }
}