.about {
  &__photo {
    position: relative;
    width: 35%;
    float: left;
    margin-right: 100px;
    margin-bottom: 55px;

    &:before {
      content: '';
      padding-top: 125%;
      display: block;
    }
    
    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100%;;
    }
  }

  &__description {
    font-size: $about-text-size;
  }

  &__software {
    line-height: 2em;
  }

  &__email {
    margin-top: -10px;
    font-size: 24px;
  }
}