extends ./layout

block page
  .project
    .content-column
      .project__images
        block images

      h1.project__header
        block name

      .project__description
        block content

      .project__more-pictures more pictures

      block more