extends ../../components/project

block title
  title schteinmiller - ghostwave

block images
  img(src="/projects/ghostwave/majonggif.gif")

block name
  | ghostwave

block content
  p it's a special project for online shop "ghostwave79".
  p print and logo where created.

block more
  .row
    .col
      img(src="/projects/ghostwave/majongsketch.jpg")
    .col
      img(src="/projects/ghostwave/majongimg.png")
    .col
      img(src="/projects/ghostwave/majongwireframe.png")
  .row
    .col
      img(src="/projects/ghostwave/ghostsketch.jpg")
    .col
      img(src="/projects/ghostwave/ghostwireframe.png")
    .col
      img(src="/projects/ghostwave/ghostsgif.gif")
