extends ../../components/project

block title
  title schteinmiller - kray

block images
  <iframe width="100%" height="400" src="https://www.youtube.com/embed/Jg9_KvSXigo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

block name
  | kray

block content
  p project is being created as part of final project at the university.

block more
  .row
    .col
      img(src="/projects/kray/model.png")
  .row
    .col
      img(src="/projects/kray/moscow.png")
  .row
    .col
      img(src="/projects/kray/room.png")
  .row
    .col
      img(src="/projects/kray/reload.png")
  .row
    .col
      img(src="/projects/kray/train.png")
  .row
    .col
      img(src="/projects/kray/store.png")
  .row
    .col
      img(src="/projects/kray/car.png")
  .row
    .col
      img(src="/projects/kray/sea-road.png")
