extends ../../components/project

block title
  title schteinmiller - microphone

block images
  img.stretch-img(src="/projects/microphone/microfongif.gif")

block content
  p
    | project has been created as a part of additional courses studying.

block name
  | microphone

block more
  .row
    .col
      img(src="/projects/microphone/microfonimg.png")
  .row
    .col
      img(src="/projects/microphone/wireframe.png")
