extends ../../components/project

block title
  title schteinmiller - roses

block images
  img(src="/projects/rose/rosegif.gif")

block name
  | roses

block content
  p
    | project has been created as a part of self thaught lighting
    | and texturing in blender.

block more
  .row
    .col
      img(src="/projects/rose/1.png")
    .col
      img(src="/projects/rose/render10.png")
  .row
    .col
      img(src="/projects/rose/render11.png")
