extends ../../components/project

block title
  title schteinmiller - roses

block nav
  - var active = ""


block images
  img(src=require("~images/projects/rose/rosegif.gif").default)

block name
  | roses

block content
  p
    | project has been created as a part of self thaught lighting
    | and texturing in blender.

block append more
  .row
    .col
      img(src=require("~images/projects/rose/1.png").default)
    .col
      img(src=require("~images/projects/rose/render10.png").default)
  .row
    .col
      img(src=require("~images/projects/rose/render11.png").default)
