extends ../../components/project

block title
  title schteinmiller - water

block nav
  - var active = ""


block images
  .gallery
    .gallery__item
      img(src=require("~images/projects/water/1.jpg").default)
    .gallery__item
      img(src=require("~images/projects/water/2.jpg").default)

block name
  | water

block content
  p illustrations in author's experimental style.

block more