extends ../../components/project

block title
  title schteinmiller - water

block images
  img(src="/projects/water/1.jpg")

block name
  | water

block content
  p illustrations in author's experimental style.

block more
  .row
    .col
      img(src="/projects/water/2.jpg")