include ../icon/icon

footer.footer
  .footer__links
    a.link.footer__link(target="_blank" href="https://www.instagram.com/sschtein/")
      | instagram
    a.link.footer__link(target="_blank" href="https://www.behance.net/hardlifecoa340")
      | behance
    a.link.footer__link(target="_blank" href="https://sketchfab.com/schteinmiller")
      | sketchfab
    a.link.footer__link(target="_blank" href="https://vimeo.com/user115296779")
      | vimeo
