.footer {
  padding-top: $footer-padding;

  &__links {
    display: flex;
    justify-content: center;
  }

  &__link {
    margin-right: 10px;
    width: $footer-link-size;
    height: $footer-link-size;
    background-color: $brand-color;

    &:last-child {
      margin-right: 0;
    }
  }
}