.footer {
  padding-top: $footer-padding;

  &__links {
    display: flex;
    justify-content: center;
  }

  &__link {
    margin-right: 10px;
    height: $footer-link-size;

    &:last-child {
      margin-right: 0;
    }
  }
}